%h1 Listing profiles

= form_tag profiles_path, :method => 'get', :id => 'search_form' do 
  %p
    = hidden_field_tag :direction, params[:direction] 
    = hidden_field_tag :sort, params[:sort] 
    = text_field_tag :search_name, params[:search_name], {:id => 'name_search',:value => 'name', :class => 'greyed'} 
    = text_field_tag :search_location, params[:search_location], {:id => 'location_search',:value => 'location', :class => 'greyed'} 
    = submit_tag "Search", :name => nil 
    %a{:href => "/profiles"}
      Start Over

= will_paginate @posts

%table
  %tr
    %th 
      = sortable('last_name', 'Name')
    %th
      = sortable('country')
    %th
      = sortable('location')
  #products
    = render @profiles

%br
