%h1 Listing profiles

= form_tag profiles_path, :method => 'get' do 
  %p
    = hidden_field_tag :direction, params[:direction] 
    = hidden_field_tag :sort, params[:sort] 
    = text_field_tag :search, params[:search] 
    = submit_tag "Search", :name => nil 

= will_paginate @posts

%table
  %tr
    %th 
      = sortable('last_name', 'Name')
    %th
      = sortable('country')
    %th
      = sortable('location')
    %th
      = sortable('birthday')
  #products
    = render 'profiles'

%br
